*{ border: 0cap;
    padding: 0%;
    margin: 0%;}
    
    header{
    background-color: #1D0F6E;
    display: flex;
   justify-content: space-between;
   height: 80px;
}

.pri, .num{
   color: white;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-weight: 100;
  padding-top: 30px;

}
.pri{
    padding-left: 30px;
}
.num{
    padding-right: 30px;
}
.pag1{
    background-image: url(img/aviao.png);
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    display: flex;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    ;
    font-size: 70px;
    padding-top: 200px ;
    color: #FFFFFF;
    font-weight: 100;

}

footer{background-color: #1D0F6E;
    height: 100px;

}

.finale{
    padding-top: 30px;
    padding-left:82px ;
    color: #FFFFFF;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    ;
    font-size: 30px;
    font-weight: 100;
}
.bloques{
    display: block;
    border: 2px solid #1D0F6E;
    border-radius: 5px;
   
    height: 600px;
  margin: 20px;
  

}
.viagens{
    height: 500px;
    width: 300px;
   
}
.pag2{
    display: block;
    justify-content: center;
    height: 800px;
}

.titulo{
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    ;
    
    color: #1D0F6E;
    padding-top: 50px;
    padding-bottom: 30px;
}
.promocao{
    
    display: flex;
    padding-top: 10px;
    padding-left: 250px;

   
}

.lugar, .money{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left: 85px;
    font-weight: 100;
}
.lugar{
    font-size: 26px;
    padding-top: 2px;
}
span{
    font-size: 15px;
}
.money{
    font-size:22px;
    padding-left:82px;
}
h2{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.confeir{
    padding-top: 20px;
}